.title1 {
    color: royalblue;
    font-size: 30px;

}

.img_portada {
    width: 900px;
    height: 500px;
}

.list-img {
    width: 300px;
    height: 300px;

}

.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0px;
    background-color: blueviolet;
}

.main-nav__item {
    display: inline-block;
     
}

.main-nav__item a {
    color: #ffff;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: #720e0e
}

.main-nav__item a:active {
    color: #093f6e;
}

.main-nav__item a::after {
     content: " | ";
}


 